@import '../../assets/styles/variables.scss';

.button {
  display: inline-block;
  padding: 10px 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  background: #0069d2;
  border-radius: 4px;
}

.button--large {
  @media (min-width: #{$medium-breakpoint}) {
    padding: 18px 140px;
  }
}
