@import '../../assets/styles/variables.scss';

.social-links {
  display: inline-flex;
  margin: 0;
  padding: 2px;
  list-style: none;
}

.social-links__item {
  display: block;
  position: relative;
  margin: 0 8px;
  padding: 0;
  height: 40px;
  width: 40px;
  z-index: 1;

  @media (min-width: #{$medium-breakpoint}) {
    margin: 0 16px;
  }

  &:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(270deg, #0069d2, #28e1a5);
    border-radius: 50%;
    z-index: -1;
  }
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e3134;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.social-links__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
