@import '../../assets/styles/variables.scss';

.library-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 50px;
  max-width: 1248px;
}

.library-grid__cell {
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  text-decoration: none;

  @media (min-width: #{$medium-breakpoint}) {
    width: 50%;
  }

  @media (min-width: #{$wide-breakpoint}) {
    width: 25%;
  }
}
