.select {
  display: inline-block;
  margin: 0;
  padding: 0 22px 0 0;
  max-width: 100%;
  max-width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat, repeat;
  background-position: right 8px top 50%, 0 0;
  background-size: 10px auto, 100%;
  appearance: none;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    border: 0;
    outline: none;
  }

  option {
    font-weight: normal;
  }
}
