.equipment-grid {
  margin: 0 auto 50px;
  max-width: 1392px;
}

.equipment-grid__heading {
  margin: 0 0 24px;
  color: #34383c;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  opacity: 0.8;
}

.equipment-grid__items {
  display: flex;
  justify-content: space-between;
  margin: 0 -12px;
}

.equipment-grid__item {
  box-sizing: border-box;
  display: block;
  padding: 0 12px;
  width: 25%;
  text-align: center;
  text-decoration: none;
}

.equipment-grid__content {
  padding: 40px 0 24px;
}

.equipment-grid__image {
  display: inline-block;
  margin: 0 0 10px;
  max-width: 100%;
  max-height: 228px;
}

.equipment-grid__title {
  margin: 0;
  color: #2e3134;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-decoration: none;
  opacity: 0.8;
}
